.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 25px;
  background-color: #B9EDDD;
}

.item-2 {
  margin-left: 20px;
  text-decoration: none;
}
.item-3, .item-4, .item-5 {
  margin-left: 20px;
}
.nav-link {
  text-decoration: none;
}

.headerbtn{
  margin-left: 50rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ADE4DB;
  border: none;
}
.headerbtn:hover{
  background-color: #F9D949;
}